@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap");

:root {
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --body-color: #ebebeb;
  --nav-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12);
  --nav-color: #ececec;
  --btn-color: #24292d;
  --btn-hover-color: #24292df0;
  --btn-shadow: 0 0.3rem 2px #2125292b;
  --btn-hover-shadow: 0 0.3rem 2px #21252924;
  --card-shadow: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.1));
  --card-color: #f0f0f0;
  --footer-bg-color: #f8f9fa;
  --footer-b-bg-color: #171717f0;
}

[data-theme="dark"] {
  --white-color: rgb(0,0,0)
  --black-color:rgb(255, 255, 255);
  --body-color: #242424;
  --nav-shadow: 0 4px 10px 0 rgba(84, 84, 84, 0.12);
  --nav-color: #494949;
}

::-moz-selection,
::selection {
  /* Code for Firefox */
  color: var(--white-color);
  background: var(--black-color);
}
.categories{
  display: grid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.65;
}

nav {
  box-shadow: var(--nav-shadow);
  background-color: var(--nav-color);
}

.github{
  color: black;
}

.github:hover,
.github:focus{
  color: rgba(0,0,0,0.8);
}


.container p h1,
.container p h3{
  color: var(--black-color);
}

.btn-form{
  border-radius: 8px;
  outline: none;
  border: 0;
  font-size: .95rem;
  font-weight: 800;
}

.btn,.btn-form {
  letter-spacing: 1px;
  background-color: var(--btn-color);
  color: #ebebeb;
}
.btn:hover,
.btn:focus,
.btn-focus {
  background-color: var(--btn-hover-color);
}

.navbar-brand {
  font-weight: 600;
}

#btn-nav,
.btn-shadow,
.btn,
.btn-form {
  box-shadow: var(--btn-shadow);
}

#btn-nav:hover,
#btn-nav:focus,
.btn-shadow:focus,
.btn-shadow:hover,
.btn-form:hover,
.btn-form:focus {
  filter: brightness(100%);
  box-shadow: var(--btn-hover-shadow);
}

#btn-nav:hover {
  background-color: #1da1f2 !important;
}

#btn-nav:active,
.btn-shadow:active,
.btn:active,
.btn-form:active {
  transform: translateY(0.3rem);
  box-shadow: 0 0.1rem #ebebeb73;
}

.txt-bold {
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1;
}

.copyright {
  font-weight: 800;
  font-size: 0.9rem;
  text-align: center;
  margin-left: 0.1rem;
}

.txt-light {
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 1;
}

.mt-8rem {
  margin-top: 8rem;
}

.w-50-100{
  width: 50% !important;
}

@media screen and (max-width:780px){
  .w-50-100{
    width: 100% !important;
  }
  .mt-8rem{
    margin-top: 4rem;
  }
}

.card {
  filter: var(--card-shadow);
}
.categories {
  padding: 0 1rem 0 0;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.card img {
  cursor: pointer;
  width: 100%;
  display: block;
  max-height: 20rem;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: fill;
  transition: transform 1s ease;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.bg-card-body {
  background-color: var(--card-color);
  height: 2.5rem;
}

h5 {
  font-size: 0.8rem !important;
  font-weight: 800;
  cursor: default;
}

i {
  cursor: pointer;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}

.active {
  display: block !important;
}

.rounded {
  border-radius: 8px !important;
}

.tooltip1 {
  position: relative;
  cursor: pointer;

}
.tooltip1 #tooltip1text {
  border-radius: 10px;
}
.tooltip1 #tooltip1text:active {
  background: rgba(0, 0, 0, 0.921);
}
.tooltip1 #tooltip1text::before {
  content: "copied";
  position: absolute;
  top: -280%;
  right: -45%;
  background: #000;
  color: #fff;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 10px;
}
.tooltip1 #tooltip1text::after {
  content: "";
  position: absolute;
  top: -120%;
  right: 10px;
  width: 10px;
  height: 10px;
  background: #000;
  color: #fff;
  transform: rotate(45deg);
}

#tooltip1text{
  display: none;
}

footer {
  font-size: 0.85rem;
  background-color: var(--footer-bg-color);
  color: var(--footer-b-bg-color);
}

#footer-b {
  background-color: var(--footer-b-bg-color);
  color: var(--white-color);
}

/* remove svg's bluriness on big screens */
body{
  background-size: cover;
}

.hidden{
  display: none !important;
}

/* style the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #8888885f;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::selection {
    background-color: var(--footer-b-bg-color);
    color:  var(--white-color);
}